.registration_main {
  background-color: #FFFAF0;
}

.registration_title {
  text-align: center;
  padding-top: 30px;
  font-size: 36px;
}

.registration_text_field {
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
  margin: 0px auto;
}

.registration_field {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.actions {
  text-align: center;
  padding: 20px;
}

.registration_footer {
  background-color: wheat;
  height: 200px;
}